## Frontend/Backend ##
APP_MODE=
PROTOCOL=
FRONTEND_HOST=

## Backend ##
HOST=

## OAuth ##
OAUTH_NONCE_SECRET=

GITHUB_KEY=
GITHUB_SECRET=
GITHUB_REDIRECT_URL=

GITLAB_KEY=
GITLAB_SECRET=
GITLAB_REDIRECT_URL=

JWT_ACCESSTOKEN_KEY=
JWT_REFRESHTOKEN_KEY=
JWT_REGISTRATIONTOKEN_KEY=

## Cloudinary - Backend ##
CLOUDINARY_SECRET=
CLOUDINARY_ENVIRONMENT=

## Cloudinary - Frontend/Backend ##
CLOUDINARY_API_KEY=

## Database ##
DATABASE_URL=

## NATs ##
NATS_URL=
NATS_USER=
NATS_PASSWORD=

## Ports ##
REST_SERVER_PORT=
WEBSOCKET_SERVER_PORT=
WEBRTC_WEBSOCKET_SERVER_PORT=
