# Rename this file to '.env.development.local' and populate
VITE_PROTOCOL= # http/https
VITE_API_URL= # REST API URL
VITE_RTC_URL= # RTC API URL
VITE_WS_URL= # WS API URL
VITE_APP_MODE= # PRODUCTION/DEVELOPMENT
VITE_CLOUDINARY_URL= # Cloudinary Upload URL
VITE_CLOUDINARY_RES_URL= # Cloudinary Image URL
VITE_CLOUDINARY_API_KEY= # Cloudinary API Key
